.wrapper {
  padding: 24px 0;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-bottom: 4px;

  input[type='text'] {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    outline: transparent;
    box-sizing: border-box;
    padding-left: 4px;
  }

}
button,
button[type='submit'] {
  height: 40px;
  padding: 4px 10px;
  border: 0px;
  font-size: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #4e75ff;
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-items: center;
  position: relative;
  max-width: 1128px;
  margin: 4px auto;
}

.gallery-item {
  width: 360px;
  height: 220px;
}

.gallery-link {
  display: block;
  overflow: hidden;
  box-shadow: 0px 0px 4px #5c5c5c;
  transform: scale(1, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.gallery-img-info {
  display: flex;
  justify-content: space-around;
  padding: 4px;
  font-size: 11px;
  background-color: #f5f5f5;
  line-height: 1.2;
  font-size: 14px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
  }

  .js-info {
    font-weight: 400;
    font-style: italic;
  }
}

.loader-box {
  height: 20px;
  box-sizing: border-box;
}

.loader {
  width: 108px;
  height: 16px;
  background:
    radial-gradient(circle 8px at 8px center, #cccccc 100%, transparent 0),
    radial-gradient(circle 8px at 8px center, #cccccc 100%, transparent 0);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  position: relative;
  animation: ballX 1s linear infinite;
}

.loader:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #cccccc;
  inset: 0;
  margin: auto;
  animation: moveX 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}

@keyframes ballX {

  0%,
  25%,
  50%,
  75%,
  100% {
    background-position:
      25% 0,
      75% 0;
  }

  40% {
    background-position:
      25% 0,
      85% 0;
  }

  90% {
    background-position:
      15% 0,
      75% 0;
  }
}

@keyframes moveX {
  100% {
    transform: translate(0.15px);
  }
}

.hidden {
  display: none;
}